.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#categories_heading{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}