.heading_div{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 30px;
    
    /* font-family: 'Poppins', sans-serif; */
}


.leftside_div button{
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 12px;
    margin-top: 20px;
}
.leftside_div p{
    font-size: 20px;
}